@model OdeToFood.Entities.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3>@Model.Name</h3>
    <div>
        <a href="/">Home</a>
        @Html.ActionLink("Home", "Index");
    </div>
</body>
</html>