@model IEnumerable<OdeToFood.Models.Restaurant>
    
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>
                @restaurant.Id
            </td>
            <td>
                @restaurant.Name
            </td>
        </tr>
    }
</table>

