<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ode de food | @ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
<div>
    @DateTime.Now
</div>

<footer>
    @RenderSection("footer", required: false)
</footer>
</body>
</html>
